<%= form_for(resource) do |f| %>
  <%= render 'shared/error_messages' %>

  <fieldset>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :bling_key %>
      <%= f.text_field :bling_key, class: 'form-control' %>
    </div>
    <p>
    <div class="form-group">
      <%= f.label :bling_api_version %>
      <div>
        <% Shop.api_versions.each do |api_version| %>
          <%= f.label :bling_api_version, value: api_version, class: "radio-inline" do %>
            <%= f.radio_button :bling_api_version, api_version %> <%= api_version %>
          <% end %>
        <% end %>
      </div>
    </div>

    <br />

    <p>
      <input class="btn btn-primary" name="commit" type="submit" value="Salvar">
      <a href="/" class="btn btn-default">Cancelar</a>
    </p>
  </fieldset>
<% end %>
