<%= form_for(resource) do |f| %>
  <%= render 'shared/error_messages' %>

  <fieldset>
    <div class="control-group">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>

    <div class="control-group">
      <%= f.label :bling_key %>
      <%= f.text_field :bling_key, :class => 'input-xxlarge' %>
    </div>

    <div class="control-group inline">
      <%= f.label :bling_api_version %>

      <% Shop.api_versions.each do |api_version| %>
        <%= f.label :bling_api_version, value: api_version, class: "radio inline" do %>
          <%= f.radio_button :bling_api_version, api_version %> <%= api_version %>
        <% end %>
      <% end %>
    </div>

    <br />

    <div class="control-group">
      <%= link_to('Canceclar', :back, :class => "btn") %>
      <button type="submit" class="btn btn-inverse">Salvar</button>
    </div>
  </fieldset>
<% end %>
