<header class="page-header clearfix">
  <h3 class="pull-left" style="margin-top: 0">Lojas</h3>
  <%= link_to icon_tag(:plus) + ' Nova Loja', new_shop_path, class: 'btn btn-success pull-right' %>
</header>

<table class="table">
  <thead>
    <tr>
      <th>Nome</th>
      <th>URL para envio de pedidos via POST</th>
      <th>API Key do Bling</th>
      <th>Versão da API do Bling</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% collection.each do |shop| %>
      <tr>
        <td><%= link_to(shop.name, edit_shop_path(shop)) %></td>
        <td><%= bling_url(shop.access_token) %></td>
        <td><%= shop.bling_key %></td>
        <td><%= shop.bling_api_version %></td>
        <td><%= delete_action(shop) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
