<div class="login_container">
  <div class="login_content">
    <header>
      <h2>Vnda/Bling</h2>
      <h5 class="pull-right" style="margin-top:22px;">Vnda Ecommerce</h5>
    </header>

    <section id="title">
      <h2>Entrar</h2>
      <% if notice %>
        <p class="alert alert-error"><%= notice %></p>
      <% end %>
    </section>

    <%= form_for(resource, :as => :user, :url => login_path) do |f| %>
      <div class="control-group">
        <%= f.label :email, :class => "control-label" %>
        <div class="controls">
          <%= f.text_field :email, :class => "input-xlarge" %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :password, :class => "control-label" %>
        <div class="controls">
          <%= f.password_field :password, :class => "input-xlarge" %>
        </div>
      </div>

      <button type="submit">Entrar</button>
    <% end %>

    <% content_for(:javascripts) do %>
      <script type="text/javascript">
        $(function() {
          $("#user_email").focus();
        });
      </script>
    <% end %>

  </div>
</div>
