<!DOCTYPE html>
<html>
<head>
  <title>VndaBling</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= link_to("Sair", logout_path, :method => :delete, :class => "btn btn-mini btn-danger") %>
<%= yield %>

</body>
</html>
